<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable page</title>
</head>
<body>
<h1>welcome to timetable page</h1>
<h5>please add the timetable here</h5>
<form action="{{ url_for("add_timetable")}}" method="post">
    <table>
        <tr><td>Course (eg:7ai)</td><td><input type="text" name="course"></td></tr>
        <tr><td>Semester</td><td><input type="text" name="sem"></td></tr>
        <tr><td>Day </td><td><input type="text" name="day"></td></tr>
        <tr><td>class1 </td><td><input type="text" name="c1"></td></tr>
        <tr><td>class2 </td><td><input type="text" name="c2"></td></tr>
        <tr><td>class3 </td><td><input type="text" name="c3"></td></tr>
        <tr><td>class4 </td><td><input type="text" name="c4"></td></tr>
        <tr><td>class5 </td><td><input type="text" name="c5"></td></tr>
        <tr><td>class6 </td><td><input type="text" name="c6"></td></tr>
        <tr><td>class7 </td><td><input type="text" name="c7"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>
    </table>

</form>
</body>
</html>